.jumbotron {

color:#000;
}

#dj-request {
text-align:center;
font-size:medium;
}

.front-page-how-to {
 width:250px; /* or whatever width you want. */
  /*display: inline-block;*/

}
body {
	margin-top: 100px;
	padding-bottom: 50px;
	color: #FFF;
	font: normal 10pt "Trebuchet MS",Helvetica,sans-serif;
       background-color: #333;
       background-image:url(/images/background.jpg) ;
	background-size:cover;



                }

                .welcome {
                        width: 400px;
                        height: 200px;
                        position: absolute;
                        left: 40%;
                        top: 25%;
                        margin-left: -150px;
                        margin-top: -100px;
			color: #FFF;
                }
		.request_form {
		}

		.request_form_field {
		color: #665;

		}

                a, a:visited {
                        text-decoration:none;
                }

                h1 {
                        font-size: 32px;
                        margin: 16px 0 0 0;
                }

	.side_bar {

	}
	.container {
	//padding: 20px;
	//margin: 30px 100px;
	font-size: 1.0em;
	text-align: center;
	left:40%;
	border-top: 1px solid #C9E0ED;
	}

	.table {
	color:#000;
	}
.navbar-fixed-top {
    font-size: 20px;
    display:block;
    //float:right;
    //width:0;
    height:150;
    border-color:transparent;
    border-style:dashed;
    //border-width:5px 0 5px 5px;
    //border-left-color:#cccccc;
    margin-top:0px;
    margin-right:0px;
    background-color:#000;//#cccccc;

}

.navbar a:hover {
color:#FFF;

}
